@model Domain.ViewModel.Discount.DiscountUserViewModel

<h2>اختصاص تخفیف به کاربران</h2>

<form asp-action="AssignDiscountToUsers" asp-controller="Discount" asp-area="Admin" method="post">
    <input type="hidden" name="discountId" value="@Model.DiscountId" />

    <!-- Users List -->
    <div id="userList">
        <h3>لیست کاربران</h3>
        @foreach (var user in Model.Users)
        {
            <div class="form-check">
                <input type="checkbox" class="form-check-input" name="userIds" value="@user.Value"
                @(Model.SelectedUserIds.Contains(int.Parse(user.Value)) ? "checked" : "") />
                <label class="form-check-label">@user.Text</label>
            </div>
        }
    </div>

    <button type="submit" class="btn btn-success mt-3">ذخیره تغییرات</button>
</form>