@using Domain.Entities.Product
@model List<Domain.ViewModel.Product.CategoryAdmin.CategoriesListViewModel>

<div class="page-header--bottom">
    <div class="container">
        <div class="d-flex align-items-center">
            <div class="vertical-menu">
                <a href="#" class="vertical-menu-btn">دسته بندی کالاها <i class="ri-apps-fill icon"></i></a>
                <div class="vertical-menu-items">
                    <ul>
                        @foreach (var Maincategory in Model.Where(u=> u.ParentId==null))
                        {
                            <li class="mega-menu-category show">
                                <a href="#">@Maincategory.Title</a>
                                <ul class="mega-menu">
                                    @foreach (var subcategory in Model.Where(u => u.ParentId == Maincategory.Id))
                                    {
                                        <li><a href="#">@subcategory.Title</a></li>
                                    }
                               
                                </ul>
                            </li>
                        }

                    </ul>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="index-1.html">خانه</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">وبلاگ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">پرسش های متداول</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-action="ContactUs" asp-controller="ContactUs">تماس با ما</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">درباره ما</a>
                </li>
            </ul>
        </div>
    </div>
</div>
