@model Domain.ViewModel.Product.CategoryAdmin.SubCategoryViewModel
@{
    ViewData["Title"] = "افزودن زیر مجموعه";

}
@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}
<form asp-area="Admin" asp-controller="ProductCategory" asp-action="CreateSubCategory" method="post">
    <input type="hidden" asp-for="ParentId"/>
    <div class="col-xl-6">
        <!-- HTML5 Inputs -->
        <div class="card mb-4">
            <h5 class="card-header">@ViewData["Title"]</h5>
            <div class="card-body">
                <div class="mb-3 row">
                    <label asp-for="Title" for="html5-text-input" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Title" class="form-control" type="text" id="html5-text-input">
                        <span asp-validation-for="Title" class="alert-danger"></span>
                    </div>
                </div>
                <button asp-area="Admin" asp-controller="ProductCategory" asp-action="CreateSubCategory" asp-route-parentid="@Model.ParentId" type="submit" class="btn btn-primary">ثبت</button>
            </div>
        </div>
    </div>
</form>

