@model Domain.ViewModel.Product.CategoryAdmin.BaseCategoryViewModel

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}

<form asp-area="Admin" asp-controller="ProductCategory" asp-action="CreateBaseCategory" method="post">
    <input type="hidden"/>
    <div class="col-xl-6">
        <!-- HTML5 Inputs -->
        <div class="card mb-4">
            <h5 class="card-header">ایجاد دسته بندی جدید</h5>
            <div class="card-body">
                <div class="mb-3 row">
                    <label asp-for="Title" for="html5-text-input" class="col-md-2 col-form-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Title" class="form-control" type="text" id="html5-text-input">
                        <span asp-validation-for="Title" class="alert-danger"></span>
                    </div>
                </div>
                <button asp-area="Admin" asp-controller="ProductCategory" asp-action="CreateBaseCategory" type="submit"
                        class="btn btn-primary">ثبت
                </button>
            </div>
        </div>
    </div>
</form>





