@using Domain.ViewModel.Permission
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model Domain.ViewModel.Permission.RolePermissionsViewModel

@{
    ViewData["Title"] = Model.RoleId == 0 ? "افزودن نقش" : "ویرایش نقش";
}

<h2>@ViewData["Title"]</h2>

<form asp-action="SaveRole" asp-controller="Access" asp-area="Admin" method="post">
    <input type="hidden" asp-for="RoleId" />

    <!-- Role Name Field -->
    <div class="form-group">
        <label asp-for="RoleName" class="control-label">نام نقش</label>
        <input asp-for="RoleName" class="form-control" />
        <span asp-validation-for="RoleName" class="text-danger"></span>
    </div>

    <!-- Permissions Section -->
    <hr/>
    <h3>دسترسی‌ها</h3>
    <div class="permissions-container">
        @await Component.InvokeAsync("Permission", Model.Permissions)
    </div>

    <!-- Save Button -->
    <div class="form-group">
        <input type="submit" value="ذخیره" class="btn btn-primary" />
    </div>
    <!-- Back to List Link -->
    <div>
        <a asp-action="Index" class="btn btn-danger">بازگشت به لیست</a>
    </div>
</form>

@section Scripts
{
    <script src="/Admin/js/PermissionCheckBox.js"></script>
}