<header class="page-mini-header">
    <div class="container">
        <div class="d-flex justify-content-center pt-3 pb-5">
            <div class="logo-container">
                <a href="#" class="logo"><img src="/theme-assets/images/logo-dark.svg" width="150" alt=""></a>
            </div>
        </div>
        <ul class="checkout-steps">
            <li class="checkout-step-active">
                <a href="#"><span class="checkout-step-title" data-title="اطلاعات ارسال"></span></a>
            </li>
            <li>
                <a href="#"><span class="checkout-step-title" data-title="پرداخت"></span></a>
            </li>
            <li>
                <a href="#"><span class="checkout-step-title" data-title="اتمام خرید و ارسال"></span></a>
            </li>
        </ul>
    </div>
</header>