@using static Domain.Enums.TicketsEnum
@model Domain.ViewModel.Ticket.AddTicketViewModel
@{
    ViewData["Title"] = "تیکت جدید";
}
@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script>
        ClassicEditor
            .create(document.querySelector('#editor'), {
                // تنظیمات اضافی
            })
            .then(editor => {
                // تغییر ارتفاع ویرایشگر
                editor.ui.view.editable.element.style.minHeight = '300px';
                editor.ui.view.editable.element.style.maxHeight = '400px';
            })
            .catch(error => {
                console.error('Error initializing CKEditor:', error);
            });
    </script>
}

<div class="col-xl-9 col-lg-8 col-md-7">
    <input type="hidden" asp-for="UserId"/>
    <div class="ui-box bg-white mb-5">
        <div class="ui-box-title">ایجاد تیکت جدید</div>
        <div class="ui-box-subtitle">
            فرم زیر را پر کنید (توضیحات کامل تر روند پاسخ دهی را کوتاه تر
            می
            کند.)
        </div>
        <div class="ui-box-content">
            <!-- start of add-ticket-form -->
            <form asp-area="UserPanel" asp-controller="Ticket" asp-action="AddTicket" method="post" class="add-ticket-form" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-md-6">
                        <!-- start of form-element -->
                        <div class="form-element-row mb-5">
                            <label asp-for="Title" class="label">موضوع</label>
                            <input asp-for="Title" type="text" class="form-control" placeholder="">
                            <span asp-validation-for="Title" class="alert-danger"></span>
                        </div>
                        <!-- end of form-element -->
                    </div>
                </div>
                <div class="row">
                    <!-- start of form-element -->
                        <div class="col-md-6">
                            <!-- start of form-element -->
                            <div class="form-element-row mb-5">
                                <label class="label">بخش</label>
                                <select asp-for="Section" asp-items="@Html.GetEnumSelectList<Section>()"  class="select2" id="department">
                              

                                </select>
                            </div>
                            <!-- end of form-element -->
                        </div>
                        <!-- end of form-element -->
                    
                    <div class="col-md-6">
                        <!-- start of form-element -->
                        <div class="form-element-row mb-5">
                            <label class="label">اولویت</label>
                            <select asp-for="Priority" asp-items="@Html.GetEnumSelectList<Priority>()" class="select2"  id="priority">
                            </select>
                        </div>
                        <!-- end of form-element -->
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <!-- start of form-element -->
                        <div class="form-element-row mb-5">
                            <label asp-for="Message" class="label">پیام</label>
                            <textarea asp-for="Message" rows="5" class="form-control" id="editor" placeholder="متن پیام"></textarea>
                            <span asp-validation-for="Message" class="alert-danger"></span>
                        </div>
                        <!-- end of form-element -->
                    </div>
                    <div class="col-12">
                        <!-- start of form-element -->
                        <div class="form-element-row form-element-row-file mb-5">
                            <div class="text-center">
                                <div class="fs-6 fw-bold text-dark">
                                    عکس یا ویدیو خود را بارگذاری
                                    کنید.
                                </div>
                                <div class="fs-7 fw-bold text-muted mb-4">
                                    ( حداکثر ۵ تصویر jpeg یا
                                    PNG
                                    حداکثر یک
                                    مگابایت، یک ویدیو MP4 حداکثر ۵۰ مگابایت )
                                </div>
                            </div>
                            <div class="custom-input-file">
                                <input asp-for="Image"  type="file" class="custom-input-file-input"  id="attachment">
                                <label for="attachment" class="custom-input-file-label">
                                    <span class="label">
                                        <i class="ri-arrow-up-fill me-1"></i> انتخاب عکس یا ویدئو
                                    </span>
                                </label>
                            </div>
                        </div>
                     @*    <input asp-for="Image" type="file"/> *@
                        <!-- end of form-element -->
                    </div>
                    <div class="col-12 text-end">
                        <button asp-area="UserPanel" asp-controller="Ticket" asp-action="AddTicket" type="submit" class="btn btn-success px-4">ثبت و ارسال <i class="ri-ball-pen-line ms-2"></i></button>
                    </div>
                </div>
            </form>
            <!-- end of add-ticket-form -->
        </div>
    </div>
</div>