@model Domain.ViewModel.Product.Product.AddProductViewModel

<h2>افزودن محصول</h2>

<form asp-action="AddProduct" asp-controller="Product" asp-area="Admin" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label asp-for="ProductName">عنوان</label>
        <input asp-for="ProductName" type="text" class="form-control" required/>
    </div>

    <div class="form-group">
        <label asp-for="Image">تصویر</label>
        <input type="file" asp-for="Image" class="form-control" accept="image/*" required/>
    </div>

    <div class="form-group">
        <label asp-for="ShortDescription">توضیح کوتاه</label>
        <textarea asp-for="ShortDescription" class="form-control" rows="3" required></textarea>
    </div>

    <div class="form-group">
        <label asp-for="Price">قیمت</label>
        <input type="number" asp-for="Price" class="form-control" step="0.01" required/>
    </div>

    <div class="form-group">
        <label asp-for="Review">نقد و بررسی</label>
        <textarea asp-for="Review" name="Review" id="ReviewCk" class="form-control ckeditor" rows="5"></textarea>
    </div>

    <div class="form-group">
        <label asp-for="ExpertReview">بررسی تخصصی</label>
        <textarea asp-for="ExpertReview" id="ExpertReviewCk" name="ExpertReview" class="form-control ckeditor"
                  rows="5"></textarea>
    </div>

    <div class="form-group">
        <label for="SubCategoryId">زیر دسته‌بندی</label>
        <select id="SubCategoryId" name="SubCategoryId" class="form-control">
            <option value="">انتخاب زیر دسته‌بندی</option>
            @foreach (var subCategory in Model.SubCategories)
            {
                <option value="@subCategory.CategoryId">@subCategory.Title</option>
            }
        </select>
    </div>
    <br/>
    <button type="submit" class="btn btn-primary">افزودن محصول</button>
    <br/>
</form>

@section Scripts {

    <script>
        CKEDITOR.replace('.ckeditor', {
            image: {
                types: ['png', 'jpeg'],
                upload: {
                    types: ['png', 'jpeg'],
                    minimumSize: 10
                }
            },
            toolbar: {
                items: [
                    'heading',
                    '|',
                    'bold',
                    'italic',
                    'underline',
                    'blockQuote',
                    'link',
                    '|',
                    'fontColor',
                    'fontSize',
                    '|',
                    'alignment',
                    'numberedList',
                    'bulletedList',
                    'indent',
                    'outdent',
                    '|',
                    'imageUpload',
                    'insertTable',
                    '|',
                    'codeBlock',
                    'removeFormat',
                ]
            },
            language: 'fa',
            image: {
                toolbar: [
                    'imageTextAlternative',
                    'imageStyle:full',
                    'imageStyle:side'
                ]
            },
            table: {
                contentToolbar: [
                    'tableColumn',
                    'tableRow',
                    'mergeTableCells',
                    'tableCellProperties',
                    'tableProperties'
                ]
            },
            simpleUpload: {
                uploadUrl: '/UploadCkeditorImage'
            },
            licenseKey: '',
            autoGrow: true,
            autoGrow_minHeight: '800px'
        })
            .then(editor => {
                window.editor = editor;
                editorsList.push(editor);
            })
            .catch(error => {
                console.log(error);
            });
    </script>
}