@model Domain.ViewModel.Product.Product.AddProductViewModel

<h2>افزودن محصول</h2>

<form asp-action="AddProduct" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label for="ProductName">عنوان</label>
        <input type="text" id="ProductName" name="ProductName" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Image">تصویر</label>
        <input type="file" id="Image" name="Image" class="form-control" accept="image/*" required />
    </div>

    <div class="form-group">
        <label for="ShortDescription">توضیح کوتاه</label>
        <textarea id="ShortDescription" name="ShortDescription" class="form-control" rows="3" required></textarea>
    </div>

    <div class="form-group">
        <label for="Price">قیمت</label>
        <input type="number" id="Price" name="Price" class="form-control" step="0.01" required />
    </div>

    <div class="form-group">
        <label for="Inventory">تعداد</label>
        <input type="number" id="Inventory" name="Inventory" class="form-control" required />
    </div>

    <div class="form-group">
        <label for="Review">نقد و بررسی</label>
        <textarea  name="Review" id="ReviewCk" class="form-control" rows="5"></textarea>
    </div>

    <div class="form-group">
        <label for="ExpertReview">بررسی تخصصی</label>
        <textarea id="ExpertReviewCk" name="ExpertReview" class="form-control" rows="5"></textarea>
    </div>

    <div class="form-group">
        <label for="SubCategoryId">زیر دسته‌بندی</label>
        <select id="SubCategoryId" name="SubCategoryId" class="form-control">
            <option value="">انتخاب زیر دسته‌بندی</option>
            @foreach (var subCategory in Model.SubCategories)
            {
                <option value="@subCategory.CategoryId">@subCategory.Title</option>
            }
        </select>
    </div>
<br />
    <button type="submit" class="btn btn-primary">افزودن محصول</button>
<br />
</form>

@section Scripts {
    
        <script>
        CKEDITOR.replace('ReviewCk', {
            language: 'fa',
            contentsLangDirection: 'rtl',
            font_names: 'Tahoma; IranSans; Arial;'
        });
    </script>
    <script>
        CKEDITOR.replace('ExpertReviewCk', {
            language: 'fa',
            contentsLangDirection: 'rtl',
            font_names: 'Tahoma; IranSans; Arial;'
        });
    </script>
    </script>
}