@model Domain.ViewModel.User.ChangePasswordUserViewModel


@{
    Layout = "_UserAuthenticationLayout";
}

<div class="page-wrapper">

    <main class="page-content page-auth">
        <!-- start of auth-container -->
        <div class="auth-container">
            <div class="auth-title mb-3">فراموشی رمز عبور</div>
            <!-- start of auth-box -->
            <div class="auth-box ui-box">
                <!-- start of auth-form -->
                <form asp-action="ForgotPasswordChanger" asp-controller="UserAuthentication"  method="post"
                      class="auth-form">
                    <!-- start of form-element -->
                    <div class="form-element-row mb-5">
                        <input asp-for="NewPassword" type="text" class="form-control" placeholder="رمز عبور جدید">
                        <span asp-validation-for="NewPassword" class="alert-danger"></span>
                    </div>
                    <div class="form-element-row mb-5">
                        <input asp-for="ConfirmPassword" type="text" class="form-control" placeholder="تکرار رمز عبور">
                        <span asp-validation-for="ConfirmPassword" class="alert-danger"></span>
                    </div>
                    <!-- end of form-element -->
                    <!-- start of form-element -->
                    <div class="form-element-row mb-3">
                        <button type="submit" asp-action="ForgotPasswordChanger" class="btn btn-primary">ثبت</button>
                    </div>
                    <!-- end of form-element -->
                </form>
                <!-- end of auth-form -->
            </div>
            <!-- end of auth-box -->
        </div>
        <!-- start of auth-container -->
    </main>

</div>

