        <div class="page-header--top">
            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="page-header--top-right">
                        <div class="notification-container notification-light">
                            <div class="swiper notification-swiper-slider mb-5">
                                <!-- Additional required wrapper -->
                                <div class="swiper-wrapper">
                                    <!-- Slides -->
                                    <div class="swiper-slide">
                                        <div class="notification-item">
                                            
                                            <partial name="_LoggedInUserP1"/>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="notification-item">
                                            <div class="notification-item--text">ุฒูุณุชุงู ุงูุณุงู ุจุง ุชุฎููุงุช ููฺู ๐
                                            </div>
                                        </div>
                                    </div>
                                    <div class="swiper-slide">
                                        <div class="notification-item">
                                            <div class="notification-item--text">ุจู ุจุงุดฺฏุงู ูุดุชุฑุงู ูุง ุจูพููุฏุฏ ๐
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="page-header--top-left">
                        <ul class="nav nav-light justify-content-end">
                            <li class="nav-item">
                                <a class="nav-link" href="#">ูุจูุงฺฏ</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ูพุฑุณุด ูุง ูุชุฏุงูู</a>
                            </li>
                            <li class="nav-item">
                                <a asp-action="ContactUs" asp-controller="ContactUs" class="nav-link">ุชูุงุณ ุจุง ูุง</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">ุฏุฑุจุงุฑู ูุง</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
