<div class="page-header--top">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between">
            <div class="page-header--top-right">
                <div class="notification-container notification-light">
                    <div class="swiper notification-swiper-slider mb-5">
                        <!-- Additional required wrapper -->
                        <div class="swiper-wrapper">
                            <!-- Slides -->
                            <div class="swiper-slide">
                                <div class="notification-item">

                                    <partial name="_LoggedInUserP1" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="page-header--top-left">
                <ul class="nav nav-light justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="SiteFaq" asp-action="Faq">پرسش های متداول</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="ContactUs" asp-controller="ContactUs" class="nav-link">تماس با ما</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
