@model Domain.ViewModel.Product.ProductSpecification.AddNewProductSpecification

@{
    ViewData["Title"] = "اضافه کردن مشخصات محصول";
}

@section Style
{
    <link rel="stylesheet" href="/Admin/vendor/libs/tagify/tagify.css"/>
    <link href="https://cdn.jsdelivr.net/npm/@@yaireo/tagify/dist/tagify.css" rel="stylesheet"/>
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial"/>
    <script src="https://cdn.jsdelivr.net/npm/@@yaireo/tagify"></script>
    <script>
        const tagInput = document.getElementById('tagInput');
        const tagify = new Tagify(tagInput, {
            placeholder: "تگ‌های خود را وارد کنید...",
            delimiters: ", ",
            maxTags: 10,
            whitelist: ["قهوه", "چای", "لاته", "موکا"]
        });

        const form = document.querySelector('form');
        form.addEventListener('submit', () => {
            tagInput.value = tagify.value.map(tag => tag.value).join(',');
        });
    </script>
}

<form asp-controller="ProductSpecification" asp-action="AddNewSpecification" asp-area="Admin" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <input asp-for="ProductId" type="hidden"/>
    <div class="form-group">
        <label asp-for="Title"></label>
        <input asp-for="Title" type="text" id="simpleInput" class="form-control"/>
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Values"></label>
        <input asp-for="Values" type="text" id="tagInput" class="form-control"/>
        <span asp-validation-for="Values" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">ارسال</button>
</form>