@model Domain.ViewModel.Faq.Admin.AddFaqCategoryViewModel
@{
    ViewData["Title"] = "افزودن دسته بندی";
}
<form asp-area="Admin" asp-controller="Faq" asp-action="AddFaqCategory" method="post">
    <input type="hidden"/>
    <div>
        <!-- HTML5 Inputs -->
        <div class="card mb-4">
            <h5 class="card-header">ایجاد دسته بندی جدید</h5>
            <div class="card-body">
                <div class="mb-3 row">
                    <label asp-for="Title" for="html5-text-input" class="col-md-1 col-form-label"></label>
                    <div class="col-md-10">
                        <input asp-for="Title" class="form-control" type="text" id="html5-text-input">
                        <span asp-validation-for="Title" class="alert-danger"></span>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary btn-lg">ثبت</button>
            </div>
        </div>
    </div>
</form>

